<div class="container">
  <h3>Wolfs</h3>

   <div class="brick" *ngFor="let wolf of wolf">

   <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{wolf.cover}}">
    </div>
    <div class="card-content">
      <span [routerLink]="['/wolf', wolf._id]" class="card-title activator grey-text text-darken-4">{{wolf.name}}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <ul>
       <!-- <li><a >{{bear.name}}</a></li>
       <li>{{bear.age}}</li>
       <li>{{bear.description}}</li> -->
       <img class="image materialboxed" width="10%" src="{{wolf.photo}}"/>
     </ul>
   </div>
 </div>
 </div>

</div>