<nav class="white #212121 grey darken-4" role="navigation">
  <div class="nav-wrapper  container">
    <div>
      <a style="color :white;" data-text="wolfsound" id="logo-container" href="#" class="brand-logo">
        <!-- TROCART<sup>(beta)</sup> -->
        Wolfsound<sup>(beta)</sup>
      </a>
    </div>

    <ul class="right hide-on-med-and-down">
      <li><a 
        data-step="1" 
        data-intro="Ajouter vos informations ici" 
        data-position='right' alt="Add a song" style="color :white;" 
        routerLink="/inscription" 
        routerLinkActive="active" >
        <i class="large material-icons">present_to_all</i>
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li>
      <a 
      data-step="2" 
      data-intro="Connectez vous ici" 
      data-position='right' 
      alt="Login" 
      style="color :white;" 
      routerLink="/login" 
      routerLinkActive="active" >
      <i class="large material-icons">perm_identity</i>
      <span class="sr-only">(current)</span>
    </a>
  </li>
  
  <!-- <li><a style="color :white;" routerLink="/home">home</a></li> -->
  <li><a onclick="javascript:introJs().setOption('showProgress', true).start();"style="color :white;"><i class="large material-icons">settings_input_antenna</i></a></li> 
  <li><a style="color :white;" routerLink="/wolf">Gloubs</a></li> 
  <!-- <li><a style="color :white;" routerLink="/beardetail">detail</a></li> -->
  <!-- <li><a style="color :white;" routerLink="/admin">admin</a></li> -->
</ul>

<ul  style="color :white;" id="nav-mobile" class="side-nav">

</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>
<router-outlet></router-outlet>
 <footer class="#000000 black page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What's WOLFSOUND ?</h5>
        <p class="grey-text text-lighten-4">
         Visualise your sound with web gl
       </p>
     </div>
     <div class="col l3 s12">
      <h5 class="white-text">Menu</h5>
      <ul>
        <li><a class="white-text" routerLink="/home">Home</a></li>
        <li><a class="white-text" routerLink="/add">Login</a></li>

      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Made with  <i class="material-icons">loyalty</i> by <a class="brown-text text-lighten-3" href="mailto:(theophile.vast@gmail.com">Théophile Vast</a>
  </div>
</div>
</footer>
